IndexIgnore *
RewriteEngine on
RewriteRule ^en/$ /index/lang/english/ [L]
RewriteRule ^ru/$ /index/lang/russian/ [L]
RewriteCond $1 !^(settings\.php|download\.php|index\.php|phpdoc|stats|sqlbuddy|user_guide_dakota|user_guide|templates|widgets|uploads|robots\.txt|changelog\.txt|sitemap\.xml|sitemap\.gz)
RewriteRule ^(.*)$ /index.php/$1 [L]
DirectoryIndex index.php index.html
AddDefaultCharset UTF-8
ErrorDocument 403 /404/
ErrorDocument 404 /404/
ErrorDocument 500 /404/
#AddHandler x-httpd-php10 .php
