<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<meta name="description" content="Dakota cms, дакота cms,  PHP, Ajax, JavaScript, , MySQL, CSS, (x)HTML, XML,  GUI">
<meta name="keywords" content="Новый сайт на Dakota CMS">
<link rel="shortcut icon" href="favicon.ico" />
<link title="" type="application/rss+xml" rel="alternate" href="/rss/" />

<title>Новый сайт на Dakota CMS: Главная </title>

<link  href="../common/css/common.css" rel="stylesheet" type="text/css" /><link  href="css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
userdata = new Object();
    userdata["role"] = 0;
</script>
</head>
<body>

<!-- start  container  -->
<div id="container">


<div id = "profile-link"><a href="#">Вход</a> &nbsp;&bull;&nbsp; <a href="#">Регистрация</a></div><!-- start header -->
<div id="header">

		<h1><a href="/" name="top">Новый сайт</a></h1>



		<ul>
           <!-- class="current_page_item" -->
            <li ><a href="#">Новости</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Файлы</a></li>
            <li><a href="#">Форум</a></li>
            <li><a href="#">О проекте</a></li>

		</ul>

</div>
<!-- end header --><!-- start page --><div id="page"><!-- start content --><div id="content">

<div class="post">




    <h2 class="title">
    <a href="#"  title="Читать целиком" >Запуск проекта</a>    </h2>


    <p class="byline">
        <small>
            Автор: <a href="#"  title="Профиль  автора"  ><a href="#">Лев Савранский</a></a>        </small>
    </p>
    <p class="date"><span class="month">Июль </span>
        <span class="day">22</span>
        <span class="year">2010</span>
    </p>




    <div class="entry overflow-hidden" style="min-height: 100px;">

        Итак, проект запущен! Если Вы знаете, как сделать <a href="http://Dakota-CMS.com">Dakota CMS</a>
        лучше, пишите support @ dakota-cms.com
    </div>


    <p class="links">

    <a href="#"  title="Читать целиком" class="more" >Читать целиком</a> &nbsp;&nbsp;&nbsp; <a href="#"  name="comments" title="Комментировать" class="comments" >Комментариев: 3</a>        &nbsp;&nbsp;&nbsp; <a href="#" class="rss">RSS</a>

    </p>



    <p class="tags"> Тэги:

    <a href="#"  title="Все записи с тэгом Новый" >Новый</a> &nbsp;&bull;&nbsp; <a href="#"  title="Все записи с тэгом CMS" >CMS</a> &nbsp;&bull;&nbsp; <a href="articles/tag/php"  title="Все записи с тэгом php" >php</a>    </p>


</div>

<!-- end content --></div> <!-- start sidebar --> <div id="sidebar" class="overflow-hidden"><ul><li> <h2>Категории</h2><ul><li><a href="#">Новый</a> (1)</li>
    <li><a href="#">сайт</a> (1)</li>
    <li><a href="#">CMS</a> (2)</li><li>

</ul>

</li>

<li>   <h2>Новые комментарии</h2>   <ul> <li><a href="#">Лучше гор. может&#8230;</a> </li> <li><a href="#">Высшая «Терра» наказания&#8230;</a> </li> <li><a href="#">придраться можно&#8230;</a> </li> </ul></li>



    <li>   <h2>Видео дня</h2>   <ul><!-- Generated by EmbeVi (http://www.embevi.com) -->
 <object  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" type="application/x-shockwave-flash" width="425" height="344">
 <param name="movie" value="http://www.youtube.com/v/nCgQDjiotG0&f=videos&app=youtube_gdata" /><param name="wmode" value="transparent" /><param name="allowScriptAccess" value="always" /><param name="pluginspage" value="http://get.adobe.com/flashplayer/" />
<embed  type="application/x-shockwave-flash" src="http://www.youtube.com/v/nCgQDjiotG0&f=videos&app=youtube_gdata" width="280" height="200" wmode="transparent" allowScriptAccess="always" pluginspage="http://get.adobe.com/flashplayer/" flashvars="" quality="high" allowfullscreen="true" loop="false" autoplay="false" autostart="false" scale="exactfit" align="middle" />
</object>  </ul></li>
</ul></div><!-- end sidebar --><!-- end page --></div><div id="back2top" style="clear: both;"><a href="#top">наверх</a></div>

<!-- start footer -->
<div id="footer">
	<p class="legal"> &copy;
<!-- current year -->
<script type="text/javascript">
<!--
var d = new Date();
var curr_year = d.getFullYear();
  document.write(curr_year);
//-->
</script>

  Все права защищены.
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Powered by  <a href="http://dakota-cms.com">Dakota CMS</a>
		&nbsp;&nbsp;&bull;&nbsp;&nbsp;
		Design by <a href="#">Free CSS Templates</a>
		</p>
</div>
<!-- end footer --><!-- end container  -->      </div>
</body>
</html>


